function main 36 25 INT
push constant 0 INT
push constant 0 INT
push constant 0 INT
push constant 0 INT
push constant 0 INT
add INT
add INT
add INT
push constant 0 INT
push constant 0 INT
push constant 0 INT
push constant 0 INT
add INT
add INT
add INT
add INT
pop that 0 INT
push constant 1 INT
push constant 0 INT
push constant 0 INT
push constant 0 INT
push constant 0 INT
add INT
add INT
add INT
push constant 1 INT
push constant 1 INT
push constant 1 INT
push constant 1 INT
add INT
add INT
add INT
add INT
pop that 0 INT
push constant 2 INT
push constant 0 INT
push constant 0 INT
push constant 0 INT
push constant 0 INT
add INT
add INT
add INT
push constant 2 INT
push constant 2 INT
push constant 2 INT
push constant 2 INT
add INT
add INT
add INT
add INT
pop that 0 INT
push constant 3 INT
push constant 0 INT
push constant 0 INT
push constant 0 INT
push constant 0 INT
add INT
add INT
add INT
push constant 3 INT
push constant 3 INT
push constant 3 INT
push constant 3 INT
add INT
add INT
add INT
add INT
pop that 0 INT
push constant 4 INT
push constant 0 INT
push constant 0 INT
push constant 0 INT
push constant 0 INT
add INT
add INT
add INT
push constant 4 INT
push constant 4 INT
push constant 4 INT
push constant 4 INT
add INT
add INT
add INT
add INT
pop that 0 INT
push constant 5 INT
push constant 0 INT
push constant 0 INT
push constant 0 INT
push constant 0 INT
add INT
add INT
add INT
push constant 5 INT
push constant 5 INT
push constant 5 INT
push constant 5 INT
add INT
add INT
add INT
add INT
pop that 0 INT
push constant 6 INT
push constant 0 INT
push constant 0 INT
push constant 0 INT
push constant 0 INT
add INT
add INT
add INT
push constant 6 INT
push constant 6 INT
push constant 6 INT
push constant 6 INT
add INT
add INT
add INT
add INT
pop that 0 INT
push constant 7 INT
push constant 0 INT
push constant 0 INT
push constant 0 INT
push constant 0 INT
add INT
add INT
add INT
push constant 7 INT
push constant 7 INT
push constant 7 INT
push constant 7 INT
add INT
add INT
add INT
add INT
pop that 0 INT
push constant 8 INT
push constant 0 INT
push constant 0 INT
push constant 0 INT
push constant 0 INT
add INT
add INT
add INT
push constant 8 INT
push constant 8 INT
push constant 8 INT
push constant 8 INT
add INT
add INT
add INT
add INT
pop that 0 INT
push constant 8 INT
push constant 9 INT
push constant 9 INT
push constant 9 INT
push constant 9 INT
add INT
add INT
add INT
push constant 0 INT
push constant 0 INT
push constant 0 INT
push constant 0 INT
add INT
add INT
add INT
add INT
pop that 0 INT
push constant 7 INT
push constant 9 INT
push constant 9 INT
push constant 9 INT
push constant 9 INT
add INT
add INT
add INT
push constant 1 INT
push constant 1 INT
push constant 1 INT
push constant 1 INT
add INT
add INT
add INT
add INT
pop that 0 INT
push constant 6 INT
push constant 9 INT
push constant 9 INT
push constant 9 INT
push constant 9 INT
add INT
add INT
add INT
push constant 2 INT
push constant 2 INT
push constant 2 INT
push constant 2 INT
add INT
add INT
add INT
add INT
pop that 0 INT
push constant 5 INT
push constant 9 INT
push constant 9 INT
push constant 9 INT
push constant 9 INT
add INT
add INT
add INT
push constant 3 INT
push constant 3 INT
push constant 3 INT
push constant 3 INT
add INT
add INT
add INT
add INT
pop that 0 INT
push constant 4 INT
push constant 9 INT
push constant 9 INT
push constant 9 INT
push constant 9 INT
add INT
add INT
add INT
push constant 4 INT
push constant 4 INT
push constant 4 INT
push constant 4 INT
add INT
add INT
add INT
add INT
pop that 0 INT
push constant 3 INT
push constant 9 INT
push constant 9 INT
push constant 9 INT
push constant 9 INT
add INT
add INT
add INT
push constant 5 INT
push constant 5 INT
push constant 5 INT
push constant 5 INT
add INT
add INT
add INT
add INT
pop that 0 INT
push constant 2 INT
push constant 9 INT
push constant 9 INT
push constant 9 INT
push constant 9 INT
add INT
add INT
add INT
push constant 6 INT
push constant 6 INT
push constant 6 INT
push constant 6 INT
add INT
add INT
add INT
add INT
pop that 0 INT
push constant 1 INT
push constant 9 INT
push constant 9 INT
push constant 9 INT
push constant 9 INT
add INT
add INT
add INT
push constant 7 INT
push constant 7 INT
push constant 7 INT
push constant 7 INT
add INT
add INT
add INT
add INT
pop that 0 INT
push constant 0 INT
push constant 9 INT
push constant 9 INT
push constant 9 INT
push constant 9 INT
add INT
add INT
add INT
push constant 8 INT
push constant 8 INT
push constant 8 INT
push constant 8 INT
add INT
add INT
add INT
add INT
pop that 0 INT
push constant 0 INT
pop temp 0 INT
push temp 0 INT
pop local 27 INT
label #L0
push constant 3 INT
pop temp 1 INT
push local 27 INT
push temp 1 INT
lt INT
pop temp 2 INT
push temp 2 INT
if-goto #L1
goto #L2
label #L3
push constant 1 INT
pop temp 2 INT
push local 27 INT
push temp 2 INT
add INT
pop temp 3 INT
push temp 3 INT
pop local 27 INT
goto #L0
label #L1
push constant 0 INT
pop temp 3 INT
push temp 3 INT
pop local 28 INT
label #L4
push constant 3 INT
pop temp 4 INT
push local 28 INT
push temp 4 INT
lt INT
pop temp 5 INT
push temp 5 INT
if-goto #L5
goto #L6
label #L7
push constant 1 INT
pop temp 5 INT
push local 28 INT
push temp 5 INT
add INT
pop temp 6 INT
push temp 6 INT
pop local 28 INT
goto #L4
label #L5
push constant 0 INT
pop temp 6 INT
push temp 6 INT
pop local 31 INT
push constant 0 INT
pop temp 7 INT
push temp 7 INT
pop local 30 INT
label #L8
push constant 3 INT
pop temp 8 INT
push local 30 INT
push temp 8 INT
lt INT
pop temp 9 INT
push temp 9 INT
if-goto #L9
goto #L10
label #L11
push constant 1 INT
pop temp 9 INT
push local 30 INT
push temp 9 INT
add INT
pop temp 10 INT
push temp 10 INT
pop local 30 INT
goto #L8
label #L9
push constant 3 INT
pop temp 10 INT
push constant 0 INT
pop temp 11 INT
push constant 0 INT
pop temp 12 INT
push constant 1 INT
pop temp 13 INT
label #L13
push temp 12 INT
push temp 10 INT
lt INT
pop temp 14 INT
push temp 14 INT
if-goto #L14
goto #L15
label #L14
push temp 11 INT
push local 27 INT
add INT
pop temp 11 INT
push temp 12 INT
push temp 13 INT
add INT
pop temp 12 INT
goto #L13
label #L15
push temp 11 INT
push local 30 INT
add INT
pop temp 12 INT
push constant 0 INT
push constant 0 INT
push constant 0 INT
push constant 0 INT
add INT
add INT
add INT
push temp 12 INT
push temp 12 INT
push temp 12 INT
push temp 12 INT
add INT
add INT
add INT
add INT
push that 0 INT
pop temp 14 INT
push temp 14 INT
pop local 32 INT
push constant 3 INT
pop temp 13 INT
push constant 0 INT
pop temp 11 INT
push constant 0 INT
pop temp 12 INT
push constant 1 INT
pop temp 15 INT
label #L17
push temp 12 INT
push temp 13 INT
lt INT
pop temp 14 INT
push temp 14 INT
if-goto #L18
goto #L19
label #L18
push temp 11 INT
push local 30 INT
add INT
pop temp 11 INT
push temp 12 INT
push temp 15 INT
add INT
pop temp 12 INT
goto #L17
label #L19
push temp 11 INT
push local 28 INT
add INT
pop temp 12 INT
push constant 9 INT
push constant 9 INT
push constant 9 INT
push constant 9 INT
add INT
add INT
add INT
push temp 12 INT
push temp 12 INT
push temp 12 INT
push temp 12 INT
add INT
add INT
add INT
add INT
push that 0 INT
pop temp 14 INT
push temp 14 INT
pop local 33 INT
push local 32 INT
push local 33 INT
add INT
pop temp 15 INT
push temp 15 INT
pop local 31 INT
goto #L11
label #L10
push constant 3 INT
pop temp 11 INT
push constant 0 INT
pop temp 12 INT
push constant 0 INT
pop temp 14 INT
push constant 1 INT
pop temp 16 INT
label #L21
push temp 14 INT
push temp 11 INT
lt INT
pop temp 15 INT
push temp 15 INT
if-goto #L22
goto #L23
label #L22
push temp 12 INT
push local 27 INT
add INT
pop temp 12 INT
push temp 14 INT
push temp 16 INT
add INT
pop temp 14 INT
goto #L21
label #L23
push temp 12 INT
push local 28 INT
add INT
pop temp 14 INT
push local 31 INT
push constant 18 INT
push constant 18 INT
push constant 18 INT
push constant 18 INT
add INT
add INT
add INT
push temp 14 INT
push temp 14 INT
push temp 14 INT
push temp 14 INT
add INT
add INT
add INT
add INT
pop that 0 INT
goto #L7
label #L6
goto #L3
label #L2
push constant 0 INT
pop temp 15 INT
push temp 15 INT
pop local 29 INT
label #L24
push constant 9 INT
pop temp 16 INT
push local 29 INT
push temp 16 INT
lt INT
pop temp 12 INT
push temp 12 INT
if-goto #L25
goto #L26
label #L27
push constant 1 INT
pop temp 12 INT
push local 29 INT
push temp 12 INT
add INT
pop temp 17 INT
push temp 17 INT
pop local 29 INT
goto #L24
label #L25
push constant 18 INT
push constant 18 INT
push constant 18 INT
push constant 18 INT
add INT
add INT
add INT
push local 29 INT
push local 29 INT
push local 29 INT
push local 29 INT
add INT
add INT
add INT
add INT
push that 0 INT
pop temp 17 INT
push temp 17 INT
print INT
push constant 1 INT
pop temp 18 INT
push local 29 INT
push temp 18 INT
add INT
pop temp 19 INT
push constant 3 INT
pop temp 20 INT
push constant 0 INT
pop temp 21 INT
push temp 19 INT
pop temp 22 INT
push constant 1 INT
pop temp 23 INT
label #L30
push temp 22 INT
push temp 20 INT
ge INT
pop temp 24 INT
push temp 24 INT
if-goto #L31
goto #L32
label #L31
push temp 22 INT
push temp 20 INT
sub INT
pop temp 22 INT
goto #L30
label #L32
push temp 22 INT
pop temp 21 INT
push constant 0 INT
pop temp 22 INT
push temp 21 INT
push temp 22 INT
eq INT
pop temp 24 INT
push temp 24 INT
if-goto #L33
goto #L34
label #L33
push local 34 STRING
print STRING
goto #L28
label #L34
push local 35 STRING
print STRING
label #L28
goto #L27
label #L26
push constant 0 INT
pop temp 23 INT
push temp 23 INT
return
